/* src/components/Footer.css */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #181818; /* Fondo oscuro para coincidir con el tema */
    color: #fff; /* Texto en blanco */
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  